<mat-card>
  <form (submit)=onAddPost(postForm) #postForm = "ngForm">
    <mat-form-field>
      <textarea
      matInput rows="5" cols="10"
      name="title"
      ngModel
      #title="ngModel"
      required>
      <mat-error *ngIf="title.invalid">Please enter a valid Post></mat-error>
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput rows="5" cols="10"
      name="content" ngModel
      required
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a valid Post></mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="accent"
    type="submit" (click)="onAddPost()">Save Post</button>
  </form>
</mat-card>

