<mat-card>
  <form (submit)= "onSavePost(postForm)" #postForm = "ngForm">
    <mat-form-field>
      <input matInput type="text" name="title"
      [ngModel] ="post?.title"
      required
      placeholder="Give a Title For Your Food"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">{{'Please Enter Your Title!'}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput rows="5" cols="10"
      name="content"
      [ngModel] ="post?.content"
      required
      placeholder="Enter The Descripton About your Food Item."
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a valid Post</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
  </form>
</mat-card>

